/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
    height: 12px
}
.module-spacer--extra-small {
    height: 12px
}
.module-spacer--small {
    height: 20px
}
.module-spacer--medium {
    height: 32px
}

/*********** Section ***********/
.c-main {
    padding: 96px 0
}
.c-section-wrapping {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    position: relative;
    padding: 0 12px; /* 上下左右 */
    text-align: center;
}
.c-section-button_right {
    float: right;
}

.c-section__list {
    position: absolute;
    top: 120px;
    width: 100%;
}
.c-section__edit {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.c-section__login {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.c-section__login__error {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    color: #E74C3C;
    padding-bottom: 5px;
}

.c-section__loading {
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: center;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}

.c-section__loading > p {
    color: #444;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.c-section__login-text-link > span {
    cursor: pointer;
    color: #3366ff;
}
.c-section__login-text-link > span:hover {
    color: #99b3ff;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.p-grid__column {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.p-grid__row {
    display: flex;
    flex-flow: row wrap;
}

.p-grid__list-images > .p-media__thumb {
    margin: .5rem;
    width: calc(50% - 1rem);
}

.p-media__thumb {
    position: relative;
    overflow: hidden;
    width: 100%
}

.u-text-small {
    font-size: .9rem;
}

.u-text__link-none {
    text-decoration: none;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-text-center {
    text-align: center;
}

.u-text__headline {
    color: #000000;
    font-size: 24px;
    margin: 0 auto 1rem auto;
}

/*.u-display-none {*/
    /*display: none;*/
/*}*/


